body{
    background-image: url('../local/images/bg.png');
    background-color: #00b81f;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

h1 a{
    text-decoration: none !important;
    color:white !important;
}

.plant-highcharts{
    padding:10px;
}

.plant-meters{
    margin:30px;
}

#plant-header{
    height:100px;
    background-color:#525459;
    padding:30px;
    box-shadow: 2px 2px 10px black;
    position: fixed;
    top:0;
    width: 100%;
    z-index:99999;
    color:white;
}

#plant-header #menu-text{
    position:absolute;
    right:5%;
}

#plant-header h1{
    display: inline-block;
    margin-left: 30px;
}

#plant-recommendation table{
    width:100%;
}


#plant-recommendation td{
    padding:5px;
}

#plant-recommendation table tr:nth-child(odd){
    background-color: #42f4ce;
}

#remark-details table tr:nth-child(odd){
    background-color: #42f4ce;
}

#plant-details table tr:nth-child(even){
    background-color: #42f4ce;
}

#plant-details table th{
    background-color: #525459;
    color:white;
}

#search-txt-box{
    text-align: center !important;
    border-radius: 5px;
    width: 200px;
}

.bubble-windows{
    position: fixed;
    right:5px;
    top:200px;
    z-index: 99;
}

.bubble-windows img{
    height: 50px;
    width: 50px;
    box-shadow:3px 3px 30px black;
    border-radius: 100%;
    cursor: pointer;
}

.bubble-windows button{
    border: none;
    background: transparent;
}

.bubble-windows button:focus{
    border: none;
    background: transparent;
    outline: none;
}

#remarks-window{
    top:270px;
}

#plant-recommendation{
    text-align: center;
    overflow-y: scroll;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    #plant-charts{
        margin-top:150px;
    }

    #plant-header{
        height: 75px;
     }
 
    
    #plant-header h1{
       font-size: 12px;
       margin-left:none;
    }

    #plant-header img{
        height: 15px;
        width: 15px;
    }

    #plant-details table{
        table-layout: fixed;
        width: 100%;
        font-size: 8px;
    }

    .plant-highcharts{
        border:5px solid #006211;
        width: 400px;
        height: 400px;
        background-color: white;
        margin:10px auto;
        box-shadow:1px 3px 30px white;
        cursor: pointer;
    }

    .plant-meters{
        margin:15px;
    }

    .meter-img-descriptor{
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }
}
  
  /* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){

    .plant-highcharts{
        border:5px solid #006211;
        width: 600px;
        height: 600px;
        background-color: white;
        margin:10px auto;
        box-shadow:1px 3px 30px white;
    }

    #plant-details{
        overflow: scroll;
    }

    #plant-details table th, #plant-details table td{
        font-size: 8px;
    }
}
  
  /* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){

    .plant-highcharts{
        border:5px solid #006211;
        width: 280px;
        height: 280px;
        background-color: white;
        margin:10px auto;
        box-shadow:1px 3px 30px white;
    }

}
  
  /* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px){

    #plant-header h1{
        font-size: 24px;
        margin-left:none;
    }

    #plant-header img{
        height: 20px;
        width: 20px;
    }

    #plant-charts{
        margin-top:150px;
        margin-bottom: 50px;
    }
    .plant-highcharts{
        border:5px solid #006211;
        width: 600px;
        height: 600px;
        background-color: white;
        margin:10px auto;
        box-shadow:1px 3px 30px white;
        cursor: pointer;
    }

    #plant-details table th, #plant-details table td{
        font-size: 12px;
    }
    
    #plant-recommendation{
        text-align: center;
    }

    .meter-img-descriptor{
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
    }
}
  
  /* #### Desktops #### */
 
    /* some CSS here */
@media screen and (min-width: 1024px){

    #plant-header h1{
        font-size: 30px;
        margin-left:none;
    }

    #plant-header img{
        height: 30px;
        width: 30px;
    }

    #plant-charts{
        margin-top:150px;
        margin-bottom: 50px;
    }

    .plant-highcharts{
        border:5px solid #006211;
        width: 25%;
        height: 400px;
        background-color: white;
        margin: 1% 0 0 5%;
        text-align: center;
        box-shadow:1px 3px 15px white;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
    }

    .meter-img-descriptor{
        width: 200px;
        height: 200px;
    }
    
    #meters-bar{
        width:55%;
    }

}

